.notes{
    border: 1px solid gray;
    border-radius: 0.5em;
    width: 600px;
    height: max-content;
    display: flex;
}
.icon{
    flex-grow: 1;
}
.text{
    flex-grow: 2;
    padding-top: 12px;
    padding-left: 15px;
}
.title{
    display: flex;
}
.title-text{
    font-weight: 500p;
}
.pinbutton{
    border: unset;
    background:transparent;
}
.tools-close{
    display: flex;
    justify-content: space-between;
}
.closeButton{
    background:transparent;
    border: unset;
}
@media screen and (max-width:900px) {
    .notes{
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .notes{ 
        width: 250px;
    }
}
@media screen and (max-width:360px) {
    .tools-close{
        justify-content: unset;
        width: max-content;
    }
}