.notes{
    border: 1px solid gray;
    border-radius: 0.5em;
    width: 50vw;
    display: flex;
}
.icon{
    flex-grow: 1;
}
.text{
    flex-grow: 2;
    padding-top: 12px;
    padding-left: 15px;
}