.main-dashboard{
    height: 100vh !important;
    width: 100% !important;
}
.content{
    display: flex;
}
.profileIcon{
    align-items: flex-end ;
}
.profile-row{
    padding-bottom: 10px;    
}
.profile-logout{
    padding-top: 40px;
}