.main2{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    border-radius: 1em !important;
    border: 1px solid lightgray !important;
    padding: 40px;
    padding-top: 48px;
    padding-bottom: 36px;
    width: 416px;
    height: 368px;
}
.mainFile-forget{
display: flex;
flex-direction: column;
padding-top: 24px;
width: 100%;
}
.email-forget{
    width: 100%;
}
.next-forget{
    margin-top: 26px !important;
    margin-left: 336px !important;
}